<%- layout('layouts/main.ejs') %>
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--Bootstrap-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
       <!--FONT AWESOME-->
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
      <!--CSS-->
      <link rel="stylesheet" href="css/style.css" type="Text/css">
    </head>
    <body>
      <div class="container">
        <div class="card mb-3">
            <div class="card-body">
              <h3 class="text-center display-5"><i class="fas fa-box-open"> ¿quieres saber como conseguir estos productos?, registrate aquí abajo</i><i class="fas fa-box-open"></i>
              </h3>
              <br />
              <br />
              <div class="container">
                <div class="row">
                  <div class="col">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81K4TJmk%2BeL._AC_SL1500_.jpg" class="card-img-top" alt="imagen10">
                  </div>
                  <div class="col order-5">
                    <img src="https://www.petco.com.mx/medias/?context=bWFzdGVyfGltYWdlc3w3MzE4MXxpbWFnZS9qcGVnfGltYWdlcy9oNzMvaGM5Lzk1NTI4OTExNTAzNjYuanBnfDA3NDczY2IwNTAwNDE4MjQ4YTk5ZGRhYjU5NTNlNjNlZGNmMzUwZTg2ODJkMzE4MjE0YjczZjk4ZDYzNDJiZmY" class="card-img-top" alt="imagen10">
                  </div>
                  <div class="col order-1">
                    <br/>
                    <img src="https://cdn.shopify.com/s/files/1/0583/0534/7791/products/ferrets_frente_1024x.jpg?v=1631658734" class="card-img-top" alt="imagen10">
                  </div>
                  <div class="col order-5">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_781158-MLM31934270498_082019-O.jpg" class="card-img-top" alt="imagen10">
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <br />
      <br />
      <h3 class="text-center display-5">Encuentranos</h3>
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">SUCURSAL</th>
              <th scope="col">DIRECCIÓN</th>
              <th scope="col">CORREO</th>
              <th scope="col">TELEFONO</th>
              <th scope="col">EXTENSIÓN</th>
              <th scope="col">ENCARGADO</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Plaza las Americas</td>
              <td>AV. GUADALUPE LOCAL 6</td>
              <td>komi.huron@gmail.com</td>
              <td>41589465</td>
              <td>445</td>
              <td>Luis Isgnacio Alcaparra López</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Macro plaza saldos</td>
              <td>AVENIDA NIÑOS HEROES INTERIOR 4</td>
              <td>luis.Ge@gmail.com</td>
              <td>5158957</td>
              <td>447</td>
              <td>Luisa Lane Rodriguez Tarso</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Centro comercial Cuauhtémoc</td>
              <td>CENTRO DE LA COMUNIDAD $60</td>
              <td>Logu.an@gmail.com</td>
              <td>1235689</td>
              <td>445</td>
              <td>Melisa García Espinosa </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Plaza Zaragoza</td>
              <td>PLAZA JUAREZ #1<rtd>
              <td>RoMi@gmail.com</td>
              <td>2584569</td>
              <td>445</td>
              <td>Romina López Guzmán</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Plaza Valladolid</td>
              <td>	FELIPE ANGELES #2052<rtd>
              <td>fanieconE@gmail.com</td>
              <td>1223853</td>
              <td>445</td>
              <td>Bruno Días Ramires</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <br />
      <div class = "container">
          <div class="col-sm-6">
            <div class="card text-dark bg-light">
              <div class="card-body">
                <h5 class="card-title">¿Quieres registrarte para adoptar un hurón?</h5>
                <p class="card-text">No pierdas la oportunidad de registrarte y formar parte de nuestra familia.</p>
                <a href="./signin" class="btn btn-success">!venga ese registro¡</a>
              </div>
            </div>
          </div>
      </div>
      <br />
      <br />
      <!--JS Bootstrap-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
  </html>