<%- layout('layouts/main.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="css/styleproductos.css" type="Text/css">

    <div class="container">
      <br />
      <h3 class="text-center display-4"> Tipos de Hurones.</i></h3>
      <p class="text-center h3">¿conoces los tipos de hurones existen?.</p>
      <br />
      <br />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-otter"> SABLE</i></h5>
              <p class="card-text">son los hurones domésticos más comunes. Su nombre se debe a la manera en que tienen distribuido el color. Por lo general, tienen el pelaje del torso y de la cabeza marrón o amarillento, las patas y el cuello negros y el hocico blanco.</p>
              <a href="./sableb" class="btn btn-success">Imagenes</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-khanda"> SABLE NEGRO.</i></h5>
              <p class="card-text">se trata de un hurón sable con el color de base negro. Tienen un patrón sólido, es decir, predomina el negro en un alto porcentaje.</p>
              <a href="./sablen" class="btn btn-success">Imagenes</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-cookie-bite"> CHOCOLATE.</i></h5>
              <p class="card-text">Con un manto de color marrón chocolate claro en el torso y un poco más oscuro en las patas. Tienen la nariz poco pigmentada y el antifaz no muy definido.</p>
              <a href="./chocolate" class="btn btn-success">Imagenes</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-glass-cheers"> CHAMPÁN</i></h5>
              <p class="card-text">de color marrón claro bastante neutro por todo el cuerpo y con pocos cambios de tonalidad. No presentan antifaz y su hocico es rosa.</p>
              <a href="./champan" class="btn btn-success">Imagenes</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-seedling"> CANELA O BEIGE</i></h5>
              <p class="card-text">parecidos a los hurones sable (en cuanto a la distribución del patrón) pero con tonos beige en vez de negros o marrones.</p>
              <a href="./canela" class="btn btn-success">Imagenes</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-tint-slash"> ALBINO.</i></h5>
              <p class="card-text">De color blanco por causa de un trastorno genético que provoca una disminución total o parcial de la melanina. Tienen los ojos rojos y la nariz y las patas rosas.</p>
              <a href="./albino" class="btn btn-success">Imagenes</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-crown"> PLATA</i></h5>
              <p class="card-text">En su manto predominan los colores gris y blanco. La mezcla de ambos tonos produce un efecto plateado.</p>
              <a href="./plata" class="btn btn-success">Imagenes</a>
            </div>
          </div>
        </div>
        
 
    <div class="container">
      <P>
        <br />
        </P>
        <h3 class="text-center display-6"> <b> ¡HOLA! acabas de descubrir una sección especial de adopción <i class="fas fa-surprise"></i> </b></i></h3>
        <p>
          <br />
          <br />
        </p>
    </div>

    <!--aquí quité-->

<!-- 
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"> Hurones de pelo corto o estándar </i></h5>
              <p class="card-text">la mayoría de los hurones tienen un manto de longitud corta.</p>
              <a href="#" class="btn btn-secondary">¿quieres saber más?</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"> Hurones de pelo largo.</i></h5>
              <p class="card-text">presentan un pelaje más largo de lo habitual debido a anomalías genéticas.</p>
              <a href="#" class="btn btn-secondary">¿quieres conocer más?</a>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="card text-dark bg-light">
                <div class="card-body">
                  <h5 class="card-title">Hurones de angora</i></h5>
                  <p class="card-text">son originarios de Suecia. Surgieron por el cruce de diferentes ejemplares criados en cautividad. Su pelo es mucho más largo y denso (entre 5 y 12 cm), sobre todo en la parte trasera del cuerpo.</p>
                  <a href="#" class="btn btn-secondary">Mas del hurón angora</a>
                </div>
              </div>
            </div>
          -->          
      </div>
    </div>

<footer>

  <div class="m-0 row justify-content-center" >

    <div class="container" style="text-align: center;">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"> ¿ganas de adopar un hurón? </i></h5>
              <p class="card-text">la mayoría de nuestros hurones son geniales...¿y el resto? fantasticos</p>
              <a href="./signin" class="btn btn-danger">¿quieres saber más?</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>

  </div>
  

</footer>

    <!--JS Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>