<%- layout('layouts/main.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <!--FONT AWESOME-->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="css/style.css" type="Text/css">
  </head>
  <body>
    <br />
    <br />
    <div class="container">
      <div class="card mb-3">
          <div class="card-body">
            <h3 class="text-center display-5"><i class="fas fa-surprise"> MENSAJES FELICES DE ALGUNOS HURONES</i></h3>
            <br />
            <br />
            <div class="container">
              <div class="row">
                <div class="col">
                  <img src="https://lh3.googleusercontent.com/proxy/t-4mKIbrytg22LskEo-aASZCBeBTzQv8QFhFD4-IPvMlSepbclPsKc4DxIimMpONgLtWbVJFEkw8wp-O4-9t6pUwP9lTy8C9E9jXLtgW0bKay72TEGKiiwnwu5pOvClw4o_cqv8" class="card-img-top" alt="imagen10">
                </div>
                <div class="col order-5">
                  <img src="https://i.pinimg.com/originals/16/0b/53/160b535f814e08dc5627b7bc5dcbe53f.png" class="card-img-top" alt="imagen10">
                </div>
                <div class="col order-1">
                  <br/>
                  <img src="https://i.pinimg.com/originals/bb/e1/56/bbe156bdc9697838e554339ea420401a.png" class="card-img-top" alt="imagen10">
                </div>
              </div>
            </div>
          </div>
        </div>
    <br />
    <br />
        <div class = "container">
        <button type="button" class="btn btn-primary position-relative ">
          NUEVOS MENSAJES
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            99+
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
        <button type="button" class="btn btn-primary">
          Notificaciones pendientes . . . <span class="badge bg-danger">50</span>
        </button>
    </div>
    <br />
    <br />
    <div class = "container">
      <div class="card">
        <h4 class="card-header display-6">kevinsu@gmail.com</h4>
        <div class="card-body">
          <h4 class="card-title">Presupueto, hurones y más hurones</h4>
          <p class="card-text">Hola, buenos días quiero informes sobre los hurones silver (los plata pues)</p>
          <p>Me comunico para recibir información sobre los hurones bonitos y plateados me parece que tienen patitas hermosas y palmeadas</p>
          <a href="#" class="btn btn-dark">Responder</a>
          <a href="#" class="btn btn-dark">Eliminar</a>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class = "container">
      <div class="card">
        <h5 class="card-header display-6">k.lopezguzman@ugto.mx</h5>
        <div class="card-body">
          <h4 class="card-title">Comida para hurón</h4>
          <p class="card-text"></p>
          <p>Hola, buen día me gustaría saber qué marcas de comida para hurón manejan</p>
          <a href="#" class="btn btn-dark">Responder</a>
          <a href="#" class="btn btn-dark">Eliminar</a>
        </div>
      </div>
    </div>
    <br />
    <br />

    </div>
    <br />
    <br />
    <div class="d-grid gap-2 col-6 mx-auto">
      <a href="./profile" class="btn btn-primary">VOLVER</a>
    </div>
    <br />
    <br />
    <!--JS Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>