<%- layout('layouts/main.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!--FONT AWESOME-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
 <!--CSS-->
 <link rel="stylesheet" href="css/style.css" type="Text/css">

 
</head>

<body >
<!--Parte de mi página de inicio-->  
<!--aquí comienza el carrush carrush-->

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="http://www.hurones.com.mx/images/slider-img3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5><button type="button" class="btn btn-light">HURONES</button></h5>
        <p><button type="button" class="btn btn-light">Conócenos, compara y decide</button></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="http://www.hurones.com.mx/images/slider-img1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5><button type="button" class="btn btn-light">LA SALUD ES LO PRIMERO</button></h5>
        <p><button type="button" class="btn btn-light">Aprender sobre la salud de tu hurón nunca está de más.</button></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://www.hurones.com.mx/images/slider-img4.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5><button type="button" class="btn btn-dark">TE ESPERAMOS</button></h5>
        <p><button type="button" class="btn btn-dark">No olvides visitarnos.</button></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--aquí termina el carrush carrush-->
<!--Aquí comienzan las columnas-->

<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center display-6"> <b><button type="button" class="btn btn-light"><h4>Nuesta filosofía . . .</h4></button> </b></i></h2>
      <h6> <justify-content-jus>
          <pstyle = "font-family:courier,arial,helvética;">
            
              
                
                <button type="button" class="btn btn-light"><b>ESTAMOS COMPROMETIDOS CON OFRECERTE EJEMPLARES CON LOS MÁS ALTOS ESTÁNDARES DE BIENESTAR, CUIDADOS A MANO DE FORMA INDIVIDUAL PORQUE ENTENDEMOS QUE PRONTO SERÁN PARTE DE TU FAMILIA...</b></button>
                
                
              

            
          </p>

        
      </justify-content-jus> </h6>
    </div>
    <div class="col order-5">
      <h4 class="text-center display-6"> <b> <button type="button" class="btn btn-light"><h4>Conoce a nuestro equipo</h4> </button></b></i></h4>
      <img src="https://i1.wp.com/www.diarlu.com/wp-content/uploads/2019/09/imagenes-caras-gratis.jpg?w=900&ssl=1" class="img-fluid" alt="...">
      
    </div>
    <div class="col order-1">
      <h4 class="text-center display-6"> <b> <button type="button" class="btn btn-light"><h4> <i class="far fa-laugh"> Algunos testimonios </h4></button> </b></i></i></h4>

        <p>    <button type="button" class="btn btn-light"> Buenas tardes Doc. pues este correo es para agradecerle sus atenciones a través de estos años que conviví con Cuko y Pituka, lamentablemente Cuko ya también murió, pero es gracias a Usted y sus conocimientos que les pude dar una vida digna y saludable, le gradezco todo su tiempo y comprensión.

          En un futuro me encantaría hacerme cargo nuevamente de otros Hurones, así que estaremos en contacto.
          
          Gracias por todo. </button>    </p>

    </div>
  </div>
</div>

<!--Aquí terminan las columnas-->






<!--JS Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>