<%- layout('layouts/main.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/bf8164d973.js" crossorigin="anonymous"></script>
    <!--HOJA DE ESTILOS-->
    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>
<body style="background-color: rgb(213, 236, 190);" >
  
<!--Parte principal página-->

<div class="container"class="text-center" style="background-color: rgb(160, 221, 236);">
    <div class="row">
      <div class="col-6 col-sm-4"><div class="container">

        <button type="button" class="btn btn-dark">
            <h5>La excelencia en el servicio <br> </h5>
            <h6> <b>
                EL CRIADERO DE HURONES LA EXCELENCIA EN MASCOTAS®, DESDE SU FUNDACIÓN EN 1990, SE HA ESFORZADO POR OFRECER UNA AMPLIA GAMA DE SERVICIOS PARA HACER LA VIDA DE TU HURÓN MÁS PLACENTERA.
                <br>
    
            </b> </h6>
    
            <h6> <b> Nuestras instalaciones de vanguardia comprenden: </b>  </h6>



        </button>



       
        <!--Inicio carrusel -->

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="http://www.hurones.com.mx/images/quirofano_s.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5> <button type="button" class="btn btn-light">Unidad de cuidados intensivos</button> </h5>
                  <p><button type="button" class="btn btn-light">lo mejor para la mejor de las mascotas</button></p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="http://www.hurones.com.mx/images/fluoroscopio_s.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Radiología</h5>
                  <p>Equipo de última generación especializado en pequeñas especies</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="http://www.hurones.com.mx/images/pension_s.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Hospedaje</h5>
                  <p>Puedes estar tranquilo, su estancia es como en casita.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        <!--Final carrusel -->
            <!--formato de metas-->

            <button type="button" class="btn btn-dark">
                <h5><b> <br> META ES Y SIEMPRE HA SIDO, SER UN CENTRO VETERINARIO INTEGRAL EN DONDE EL PROPIETARIO ENCUENTRE TODO LO RELACIONADO AL MUNDO DE LOS HURONES Y ADEMÁS BENEFICIE A LA CONSERVACIÓN DE NUESTRA FAUNA SILVESTRE:
                    <br>
                    <br>
                    <br>
                       
                </b></h4>
                <h5> Ejemplares sanos y dóciles; gran variedad de accesorios a excelentes precios; servicio veterinario con equipo de vanguardia a la altura de Estados Unidos y la Comunidad Europea; con personal dedicado y profesional, comprometido con la divulgación, investigación y capacitación continua en esta especie. En sí, poder englobar todos nuestros esfuerzos en una sola idea: BIENESTAR PARA LOS HURONES. Meta que, gracias a tu confianza y nuestro esfuerzo diario, cada día se va cumpliendo. </h5>


            </button>       

      <div class="w-100 d-none d-md-block"></div>

<!--final metas-->
      </div></div>
      <div class="col-6 col-sm-4"><div class="container">
        <h4><button type="button" class="btn btn-success">Nuestra filosofía, nuestra pasión . . .
            <h5><b> ESTAMOS COMPROMETIDOS CON OFRECERTE EJEMPLARES CON LOS MÁS ALTOS ESTÁNDARES DE BIENESTAR, CUIDADOS A MANO DE FORMA INDIVIDUAL PORQUE ENTENDEMOS QUE PRONTO SERÁN PARTE DE TU FAMILIA... </b></h5>
            <img src="https://w0.peakpx.com/wallpaper/878/486/HD-wallpaper-albino-ferret-babies-baby-albino-ferret-animal.jpg" class="img-fluid" alt="...">
            <h6>Amados desde sus primeros bostesos </h6>
            <img src="https://w0.peakpx.com/wallpaper/898/714/HD-wallpaper-ferret-cuddles-baby-ferret-animal.jpg" class="img-fluid" alt="...">
            <h6>Pero no sólo nos avala nuestra experiencia y pasión. También contamos con todos los permisos SEMARNAT DGVS-PIMVS-CR-IN-</h6>
     y nuestra exclusiva póliza de protección registrada en PROFECO bajo el oficio       
     <!-- Force next columns to break to new line at md breakpoint and up -->, te da la seguridad que estás buscando. No sólo te ofrecemos los mejores ejemplares como anilaes de compañia, además queremos satisfacer tus necesidades y cumplir con el bienestar de compañia, además queremos satisfacer tus necesidades y cumplir con el bienestar del nuevo miembro de tu familia durante toda su vida. Somos los únicos en México con lineas genéticas certificadas en Estados Unidos.
     <br>
     <br>
     <br>
     <br>



        </button></h4>



  
    </div>
  </div>

 
    <!--Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.map"></script>
    <!--JS BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>